
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="images/Plan'n'Teach.png">
  <title>Plan'N'Teach</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <script src="https://unpkg.com/scrollreveal"></script>
  <link rel="stylesheet" href="styles/landing.css">
</head>
<body>
  <!-- header starts -->
  <header>
    <div class="container">
      <nav class="nav">
        <div class="menu-toggle">
          <i class="fas fa-bars"></i>
          <i class="fas fa-times"></i>
        </div>
        <a href="landing_page.html" class="logo"><img src="images/Plan'n'Teach.png" alt="logo"></a>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="landing_page.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="login.html" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a href="signup.html" class="nav-link">Sign-up</a>
          </li>
          <li class="nav-item">
            <a href="homepage" class="nav-link">Dashboard</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Menu</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Our Services</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- header ends -->
  <section class="hero" id="hero">
    <div class="container">
      <h2 class="sub-headline">
        <span class="first-letter">w</span>elcome
      </h2>
      <h1 class="headline">Plan'N'Teach</h1>
      <div class="headline-description">
        <div class="separator">
          <div class="line line-left"></div>
          <div class="asterisk"><i class="fas fa-asterisk"></i></div>
          <div class="line line-right"></div>
        </div>
        <div class="single-animation">
          <h4>Ready to plan</h4>
          <a href="#" class="btn cta-btn">Explore</a>
        </div>
      </div>
    </div>
  </section>
  <!-- hero ends -->
  <section class="discover-our-story">
    <div class="container">
      <div class="info">
        <div class="description padding-right animate-left">
          <div class="global-headline">
            <h2 class="sub-headline">
              <span class="first-letter">D</span>iscover
            </h2>
            <h1 class="headline headline-dark">Our Story</h1>
          </div>
          <p>
            Plan'N'Teach is a user-friendly and comprehensive Education Management System
             software solution that can address the needs of academic personnels which 
             includes but not limited to: teachers, tutors, lecturers and students; in 
             early preparation of lesson plans for their classes. The solution covers all
             arms of education including primary / secondary school subjects and university 
             courses encompassing all topics and concepts under each subject/course.
          </p>
          <a href="#" class="btn body-btn">About</a>
        </div>
        <div class="info-img animate-right">
          <img src="./images/our-story1.jpeg" alt="">
        </div>
      </div>
    </div>
  </section>
  <footer>

  </footer>
  <script src="main.js"></script>
</body>
</html>
